<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
     <bean id="dateFormat" class="java.text.SimpleDateFormat">
         <constructor-arg type="java.lang.String" value="yyyy-MM-dd" />
     </bean>
    <bean id="helloWorld" class="learn.beanassembly.assembly01.HelloWorld">
        <constructor-arg value="18" type="int" index="0"></constructor-arg>
        <constructor-arg index="1">
        <bean factory-bean="dateFormat" factory-method="parse">  
         <constructor-arg value="2011-06-17" />  
    </bean>
        </constructor-arg>
        <constructor-arg value="张三" index="2"></constructor-arg>
    </bean>
</beans>